<header class="header">
  <div class="header-container container">
    <a class="header-logo" href="./index.html"
      >Crypto<span class="header-logo-accent">Prices</span></a
    >
    <nav class="header-navigation">
      <ul class="header-navigation-list">
        <li class="header-navigation-item">
          <a class="header-navigation-link" href="./index.html">Home</a>
        </li>
        <li class="header-navigation-item">
          <a class="header-navigation-link" href="./pools.html">Pools</a>
        </li>
        <li class="header-navigation-item">
          <a class="header-navigation-link" href="./favorites.html"
            >Favorites (<span class="favorites-counter">0</span>)</a
          >
        </li>
      </ul>
    </nav>
    <button
      type="button"
      class="scroll-up-btn is-hidden"
      aria-label="scroll up button"
    >
      <svg class="scroll-up-icon" width="20" height="20">
        <use href="./img/icons/sprite.svg#icon-arrow-up"></use>
      </svg>
    </button>
  </div>
</header>
