<section class="filters">
  <div class="filters-container container">
    <form class="filters-form">
      <label class="filters-search">
        <svg class="filters-search-icon" width="18" height="18">
          <use href="./img/icons/sprite.svg#icon-search"></use>
        </svg>
        <input
          class="filters-input"
          type="text"
          name="search"
          placeholder="Search coin"
          autocomplete="off"
        />
      </label>
      <button class="filters-refresh-btn" type="button">Refresh</button>
    </form>
    <p class="filters-status">
      Updated at <span class="filters-updated">—</span>
    </p>
  </div>
</section>
