<section class="prices">
  <div class="prices-container container">
    <h2 class="prices-title">Coins</h2>
    <div class="prices-table-wrapper">
      <table class="prices-table">
        <thead>
          <tr>
            <th class="prices-th">#</th>
            <th class="prices-th prices-th-coin">Coin</th>
            <th class="prices-th">Price</th>
            <th class="prices-th">24h</th>
            <th class="prices-th">Market cap</th>
          </tr>
        </thead>
        <tbody class="prices-list"></tbody>
      </table>
    </div>
  </div>
</section>
