<section class="favorites">
  <div class="favorites-container container">
    <h1 class="favorites-title">Favorites</h1>
    <div class="favorites-content">
      <div class="favorites-table-wrapper">
        <table class="prices-table">
          <thead>
            <tr>
              <th class="prices-th">#</th>
              <th class="prices-th prices-th-coin">Coin</th>
              <th class="prices-th">Price</th>
              <th class="prices-th">24h</th>
              <th class="prices-th">Market cap</th>
              <th class="prices-th">Uniswap V2</th>
              <th class="prices-th">Difference</th>
              <th class="prices-th"></th>
            </tr>
          </thead>
          <tbody class="favorites-list"></tbody>
        </table>
      </div>
      {{> favorites-page/empty-content }}
    </div>
  </div>
</section>
